<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
폼 만들기
투표 기능 동작 구현
detail.html 및 vote 뷰 수정
-->

    <h1>{{question.question_text}}</h1> <!--질문을 제목으로 사용하기 위해 폰트 크기를 <h1>로 지정-->
    <!--에러가 있으면 에러를 굵은 글자로 화면에 보여줌, view() 함수에서 보내주는 에러 메시지-->
    {% if error_message %}
        <p> <strong>{{error_message}}</strong> </p>
    {% endif %}

    <!--폼에 입력된 데이터는 POST 방식으로 보내줌, <form action> 속성에 {퍼센트 url 퍼센트} 템플릿 태그를 사용하여 받을 곳의 URL을 polls:vote로 지정함,
        URLConf에서 지정한 URL 패턴 이름, question.id가 question_id로 전달됨-->
    <form action="{% url 'polls:vote' question.id %}" method="post">
        <!--csrf_token은 CSRF 공격을 막기 위한 수단, 방금 서버로 들어온 요청이 사이트 내부에서 온 것이 맞는지 확인하는 용도로 사용-->
        {% csrf_token %}
        <!--detail() 뷰 함수에서 템플릿으로 넘겨준 Question 객체 순회, question.choice_set.all은 Question 객체의 chocie_set 속성에 들어있는 항목 모두를 의미-->
        {% for choice in question.choice_set.all %}
            <!--라디오 버튼으로 답변 항목 보여줌, 해당 라디오 버튼을 선택하면, POST 데이터가 'chocie'='3'(choice.id) 형태로 구성되도록 name과 value 속성을 정의,
                forloop.counter : 반복문의 반복 횟수를 출력하는 템플릿 문법-->
            <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
            <!--<label for> 속성과 <input id> 속성 값이 같아야 서로 바인딩 됨-->
            <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label> <br>
        {% endfor %}
        <input type="submit" value="Vote"> <!--vote 버튼을 클릭하면 사용자가 선택한 폼 데이터가 POST 방식으로 polls:vote URL로 전송됨.
                                                vote() 뷰 함수에서 request.POST['choice'] 구문으로 액세서함,
                                                <input> 태그의 name과 value 속성값들이, request.POST 사전에 key, value로 사용됨-->

    </form>

<!--
Question 객체의 choice_set 속성
Question과 Choice 테이블의 관계를 1:N 관계이고, 외래키로 연결됨
1:N 관계에서 1 테이블에 연결된 N 테이블의 항목들이라는 의미로, xxx_set 속성을 dedault로 제공함
-->
<!--
    <ul>
        # question.choice_set.all() : Question 테이블의 question 레코드에 연결된 Choice 테이블의 레코드를 모두 의마함
        {% for choice in question.choice_set.all %}
        <li>{{choice.choice_text}}</li>
        {% endfor %}
    </ul>
    {{question}}
-->

</body>
</html>