<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet"> <!--구글 글꼴에서 Lobster라는 글꼴-->
    <title>Title</title>

</head>
<body>

    <div class="page-header">
        {% if user.is_authenticated %} <!--로그인한 사람만 글을 등록하게 만들기-->
            <a href="{% url 'blog:post_new' %}" class="top-menu"> <span class="glyphicon glyphicon-plus"></span> </a><!--글 추가 아이콘 생성(+)-->
        {% endif %}
        <h1> <a href="{% url 'blog:post_list' %}">HYWU Blog</a> </h1> <!--제목 링크 연결(어느화면에서도 제목을 누르면 리스트로 돌아감)-->
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


</body>
</html>